@{
  Layout = "_Layout";
}

<h1>Animal Shelter</h1>
@* <p>@Html.ActionLink("See all items", "Index", "Items")</p>  *@

<p>@Html.ActionLink("See all Animals", "Index", "Animals")</p>
<p>@Html.ActionLink("See all Animal Types", "Index", "Animals")</p>